{% extends 'base.html.twig' %}

{% block title %}list of users{% endblock %}

{% block body %}


    <h1>List of users</h1>

    <ul>
        {% for user in users %}
            <li>
                id = {{ user.id }}
                <br>
                name =
                <a href="{{ path('users_show', {id:user.id}) }}">
                    {{ user.name }}
                </a>
            </li>
        {% endfor %}
    </ul>

    <hr>
    <a href="{{ path('users_new_form')}}">
        create NEW user
    </a>


{% endblock %}