{% extends 'base.html.twig' %}

{% block title %}new user form{% endblock %}

{% block body %}

    <h1>Fill in the form to register!</h1>

    <hr>

    <form
        method="post"
        action="/register"
    >
        <label for="name">Enter your name</label>
        <input type="text" name="name" id="name" value="">

        <br>

        <label for="sname">Enter your surname</label>
        <input type="text" name="sname" id="sname" value="">

        <br>

        <label for="username">Enter your username</label>
        <input type="text" name="username" id="username" value="">

        <br>

        <br>

        <label for="email">Enter your email</label>
        <input type="text" name="email" id="email" value="">

        <br>

        <label for="password">Enter your password</label>
        <input type="password" name="password" id="password" value="">

        <br>

        <label for="dob">Enter your age</label>
        <input type="date" name="dob" id="dob" value="">

        <br>

        <label for="mobile">Enter your number</label>
        <input type="number" name="mobile" id="mobile" value="">

        <br>

        <hr>

        <br>

        <label for="addL1">Enter your addL1</label>
        <input type="text" name="addL1" id="addL1" value="">

        <br>

        <br>

        <label for="addL2">Enter your addL2</label>
        <input type="text" name="addL2" id="addL2" value="">

        <br>

        <br>

        <label for="addL3">Enter your number</label>
        <input type="text" name="addL3" id="addL3" value="">

        <br>

        <input type="submit" name="submit" id="submit" value="Submit">

        <br>


    </form>
    {#{{ form(form) }}#}


{% endblock %}