{% extends 'base.html.twig' %}

{% block title %}show one user{% endblock %}

{% block body %}

    <h1>Show one user</h1>

    <p>
        id = {{ user.id }}
    </p>

    <p>
        title = {{ user.name }}
    </p>

    <p>
        content = {{ user.password }}
    </p>
    <hr>
    <a href="{{ path('users_list') }}">list of users</a>

{% endblock %}