{% extends 'base.html.twig' %}

{% block title %}Documentation{%  endblock %}

{% block body %}
<div id="mainContent">

    <h1>Documentation</h1>

    <h2>Here is our all documentation related to this project</h2>

    <p>
        This is a project made by three computing students in <a href="http://www.itb.ie/">ITB Blanchardstown</a>
        to defend a Third Year Bachelour's degree.

        The aim of the project was to create an educational web application for Computer Science students or anyone
        who is interested in computer building.
    </p>

    <hr>
    <div style="display: flex;">
    <h3 style=" ">Documentation</h3>
    <p style="color: #989898; font-size: 14px; padding-left: 10px;"> - Feel free to download and analyse our documentation</p>
    </div>
    <div>
        <h4>Related files</h4>

        <ul>
            <li><a href="/uploads/PC-Builds-Online-Research.docx" download="Website Research" >Website Research</a></li>
            <li><a href="/uploads/Project Overview.docx" download="Project Overview" >Project Overview</a></li>
        </ul>
    </div>

    <hr>

    <h3>Developers</h3>

    <div id="docPic">

        <section>
            <h3>Jakub Badacz</h3> <a target="_blank"  href="https://www.linkedin.com/in/jakub-badacz-424930117/"><img src="/images/li.png"></a>
                <a target="_blank" href="https://www.facebook.com/jakub.badacz"><img src="/images/fb.png"> </a>
        </section>

        <section >
            <h3>Gelmis S. Bartulis</h3><a target="_blank"  href="https://www.linkedin.com/in/gelmis-bartulis-7748ba117/"><img src="/images/li.png"></a>
                <a target="_blank" href="https://www.facebook.com/gbartulis"><img src="/images/fb.png"> </a>
        </section>

        <section >
            <h3>Aaron Crosbie</h3><a target="_blank"  href="https://www.linkedin.com/in/aaron-crosbie-664932141/"><img width="50" src="/images/li.png"></a>
                <a target="_blank" href="https://www.facebook.com/aaron.crosbie"><img src="/images/fb.png"> </a>
        </section>
    </div>

    <p style="text-align: right">
       - Feel free to contact us for any queries!
    </p>

    <hr>
</div>
{% endblock %}