{% extends 'base.html.twig' %}

{% block title %}Home{%  endblock %}

{% block body %}
    <div id="mainContent">




            <div id="top">

                <h1>SPC - Simple Personal Computers</h1>

            </div>
            <section>

                <h3>Check out new PC designs</h3>

                <iframe width="725" height="415"
                        src="https://www.youtube.com/embed/35FLXniqeFQ?autoplay=0">
                </iframe>

            </section>


            <h1 style="text-align: center">New builds</h1>

            <p style="text-align: center">Created by users</p>

            <section id="four">

                <section>

                    <img src="images/case1.jpg">

                    <p>
                        <i>
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit
                        </i>
                    </p>

                </section>

                <section>

                    <img src="images/class.jpg">

                    <p>
                        <i>
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit
                        </i>
                    </p>

                </section>

            </section>

            <hr>

            <section id="four">

                <section>

                    <img src="images/coolest.jpg">

                    <p>
                        <i>
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit
                        </i>
                    </p>

                </section>

                <section>

                    <img src="images/cool.jpg">

                    <p>
                        <i>
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit
                        </i>
                    </p>

                </section>

            </section>


            <section id="news">

                <section>

                    <h2>Recent Events</h2>

                    <section>

                        <h3>News 1</h3>

                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci atque ducimus.</p>

                    </section>

                    <hr>

                    <section>

                        <h3>News 1</h3>

                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci atque ducimus.</p>

                    </section>

                    <hr>

                    <section>

                        <h3>News 1</h3>

                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci atque ducimus.</p>

                    </section>

                </section>

                <section>

                    <h2> Recent User Posts</h2>
                    {#/*  <?php#}

                    {#$sql="SELECT * FROM blog ORDER BY ID DESC";#}

                    {#$retval = mysqli_query($connection, $sql);#}

                    {#if(!$retval){#}
                    {#die("Could not get data");#}
                    {#}#}

                    {#$counter = 0;#}

                    {#while($row = mysqli_fetch_array($retval, 1))#}
                    {#{#}
                    {#$counter++;#}
                    {#if($counter >= 4){ break;}#}
                    {#?>#}

                    {#<h4><?php echo "{$row['Topic']}"?></h4>#}
                    {#<h5><?php echo "@{$row['Username']}" ?></h5>#}
                    {#<p><?php echo "@{$row['Content']}" ?></p>#}

                    {#<hr>#}

                    {#<?php#}
                    {#}#}
                    {#?>#}
                    {#*/#}
                </section>


            </section>


        </div>



    </div>
{% endblock %}


