
#myform {
    background-color: #313131;
    padding: 2%;
    color: aliceblue;
}

.center {
    text-align: center;
    margin-right: auto;
    margin-left: auto;
    padding: 2%;
}

#accountImg {
    padding: 10px;
    border: 2px solid #222222;
    background-color: #2F3133;
    border-radius: 10px;
    opacity: 1;
    transition: 1s;
}

#accountImg:hover {
    border: 2px solid #787877;
    /*background-color: #56595d;*/
    opacity: 0.7;
    transition: 1s;
    cursor: pointer;
}