* {
    font-family: 'Raleway', sans-serif;
}

body {
    background: url("../images/wallhaven-8318.png")  no-repeat center center fixed;
    background-size: cover;
    font-family: 'Raleway', sans-serif;
    margin-top: 0;
    margin-left: auto;
    margin-right: auto;
    width: 70%;
    box-shadow: 0px 0px 35px #a9a9a9;
    border-radius: 5px;
    border-left: 2px solid #f1f1f1;
    border-right: 2px solid #f1f1f1;
    text-shadow: #1e1e1e 10px;
}

#heading {
    color: #007399;
    text-shadow: #1e1e1e 10px;
    border-top: 1px groove #2e2e2e;

}

#top {
    text-align: center;
    background-color: #f9f9f9;
}

#top div {
    flex: 1;
}

#top h1 {
    color: #2e2e2e;
}
#mainContent {
    padding: 5%;
    transition: 1s;
    color: #2e2e2e;
    font-size: small;
    text-shadow: #000 2px;
    height: inherit;
    margin: 0;
    background-color: #f9f9f9;
}
iframe {
    max-width: 100%;
}

#video {
    background: #f9f9f9; /* For browsers that do not support gradients */
    background: -webkit-radial-gradient(#000000, #787877, #f2f2f2,#ffffff); /* Safari */
    background: -o-radial-gradient( #000000, #787877, #f2f2f2,#ffffff); /* Opera 11.6 to 12.0 */
    background: -moz-radial-gradient(#000000, #787877, #f2f2f2,#ffffff); /* Firefox 3.6 to 15 */
    background: radial-gradient( #000000, #787877, #f2f2f2,#ffffff); /* Standard syntax */
    padding: 5%;
    border: none !important;
    box-shadow: 10px 10px 10px 20px #fff inset;
    margin: 0;
}

#mainContent section img {
    width: 250px;
    height: 250px;
}

#mainContent section h3 {
    text-align: center;
}

#news {
    display: flex;
}

#news section {
    padding: 1%;
    flex: 1;
}

#news section h2 {
    text-align: center;
}

#shown {
    display: flex;
}
#shown div {
    flex: 1;
}
#shown div a  {
    color: #313131;
    text-decoration: none;
}

#shown div a h2 {
    text-align: center;
    color: #313131;
    text-decoration: none;
    background-color: transparent;
    transition: 0.5s;
}

#shown div a h2:hover {
    color: aliceblue;
    text-decoration: underline;
    background-color: #888888;
    transition: 0.5s;
}

iframe {
    display:block;
    margin-left: auto;
    margin-right: auto;
}

#four {
    display: flex;
    text-align: center;
}

#four section {
    display: block;
    flex: 1;
}

