footer {
    display: flex;
    padding-top: 1%;
    margin-top: 1%;
    background: transparent;
    padding-left: 15%;
    padding-right: 30px;
    align-items: center;
}

footer div {
    flex: 1;
}

#sign img {
    width: 15%;
}

#soc img {
    width: 12%;
    height: 12%;
    margin-left: 2px;
    margin-right: 2px;
}

#cu img {
    width: 25% ;
}