.jumbotron {
    background-color: #313131;
    color: azure;
    padding: 10%;
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
    /*border-bottom: 1px solid #222222;*/
}

.jumbotron h1, .jumbotron .h1 {
    font-size: 63px;
}
.jumbotron h1, .jumbotron .h1 {
    color: inherit;
}

.row {
    display: flex;
    background-color: #787878;
}

.row div {
    flex: 1;
    border: 1px groove #80bfff;
    padding: 1%;

}

.row aside {
    padding: 25px;
    display: block;
    background-color: #3C9EDB;
}

.flexThis {
    display: flex;
}

.flexThis div {
    display: block;
    /*margin-left: 50%;*/
    padding-left: 5%;
    padding-right: 5%;
    flex: 1;
}

#login a {
    padding: 1%;
    margin-left: 40%;
    margin-right: auto;
    background-color: #b3e0ff;
    border-radius: 0.5em;
    transition: 1s;
    color: #6699FF;
    border: 1px solid #f2f2f2;

}

#login {
    padding: 2%;
    transition: 1s;
    border-top: 1px solid transparent;
}
#login:hover {
    border-top: 1px solid #008ae6;
    transition: 1s;
}

#login a:hover {
    background-color: #008ae6;
    border: 1px solid #1e1e1e;
    border-radius: 0.5em;
    transition: 1s;
    cursor: pointer;
    color: azure;
}

#cntrol {
    width: auto;
    height: auto;
    overflow-y: scroll;
}

#clickedForView {
    cursor: pointer;
    margin-left: auto;
    margin-right: auto;
    background-color: transparent;
    color: azure;
    border: none;
    font-size: 20px;
    transition: 0.5s;
    border-bottom: 2px solid transparent;

}

#clickedForView:hover {
    color: #6699FF;
    transition: 0.5s;
    border-bottom: 2px solid #9654a5;
}

#post {
    text-align: center;
    /*background-color: #475f6d;*/
    background-color: #313131;
    transition: 2s;
    color: #6699FF;
}

#post h3 {
    margin-top:0;
    padding-top: 0;
}

#comments {
    border: none;
    background-color: #f9f9f9;
    border-radius: 2px;
    box-shadow: 4px 4px 8px #787878;
}

#commentContents {
    border: none;
}

#form1 h3{
    margin: 0;
    padding: 20px;
}